@import '~@/styles/var';

.plan-page {
  font-weight: $weight_regular;

  .plan__bar {
    height: 100px;
    line-height: 100px;
    background-image: linear-gradient(-127deg, #1068FA 14%, #00329E 100%, #00329E 100%);
    font-size: 20px;
    color: #fff;
    letter-spacing: 0.9px;
    text-align: right;

    padding: 0 40px 0 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .bar {
    &__name-logo {
      display: block;
      width: 68px;
      height: 36px;
    }

    &__tail {
      display: flex;
    }

    &__user {
      display: flex;
      align-items: center;
    }


    &__logout {
      margin-left: 36px;
      font-size: 20px;
      color: #FFFFFF;
      letter-spacing: 0.9px;
    }
  }

  .user {
    &__avator {
      display: block;
      width: 36px;
      height: 36px;
    }

    &__name {
      margin-left: 8px;
      font-size: 20px;
      color: #FFFFFF;
      letter-spacing: 0.9px;
    }
  }


  .plan__body {
    padding: 56px 160px;
  }

  .plan__part2 {
    margin-top: 80px;
  }

  .part__title {
    position: relative;
    font-size: 30px;
    color: #0C5AE3;
    letter-spacing: 1.35px;
    padding-left: 22px;
    height: 48px;
    line-height: 48px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 6px;
      height: 100%;
      background: #0F64F3;
    }
  }

  .part1 {
    &__main {
      margin-top: 46px;
      display: flex;
      justify-content: space-between;
    }

    &__left {
      flex: 1;
      display: flex;
      justify-content: flex-end;
    }

    &__manager {
      position: relative;
      transform: translateX(-180px);

      .manager__avatar {
        display: block;
        width: 500px;
        height: 500px;
      }

      .manager__info {
        color: #0951D4;
        position: absolute;
        bottom: 2.2%;
        left: 404px;
        white-space: nowrap;
      }

      .manager-info {


        &__title {
          opacity: 0.5;
          font-size: 16px;
          letter-spacing: 0.72px;
        }

        &__name {
          margin-top: 18px;
          font-weight: $weight_medium;
          font-size: 36px;
          letter-spacing: 1.62px;
        }

        &__level,
        &__school {
          margin-top: 8px;
          font-weight: $weight_light;
          font-size: 20px;
          letter-spacing: 0.9px;
        }

      }

    }

    &__desc {
      // margin-top: 52px;
      font-size: 20px;
      color: #1068FB;
      letter-spacing: 0.9px;
      line-height: 36px;
    }

    &__suggestion {
      position: relative;
      margin-top: 90px;
      background-image: linear-gradient(145deg, #1068FA 2%, #00329E 100%, #00329E 100%);
      width: 100%;
      padding: 36px 48px;
      border-radius: 4px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.50);


      &::before {
        position: absolute;
        top: -60px;
        left: 0;
        content: '';
        display: block;
        background: #1068FA;
        width: 100%;
        height: 1px;
        transform: scaleY(0.5);
      }

      &::after {
        position: absolute;
        top: -79px;
        left: 70px;
        content: '';
        display: block;
        width: 0;
        height: 0;
        border-top: 40px solid transparent;
        border-right: 40px solid transparent;
        border-left: 40px solid transparent;
        border-bottom: 40px solid #1068FA;
      }
    }
  }

  .part2 {
    &__img {
      display: block;
      width: 1120px;
      height: 540px;
      background-color: #eee;
      margin: 0 auto;
      margin-top: 50px;
    }
  }

  .case {
    &__container {
      width: 630px;
      height: 392px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &__l1,
    &__l2 {
      flex-shrink: 0;
      display: flex;
      justify-content: space-between;
    }

    &__img {
      display: block;
      flex-shrink: 0;
      width: 300px;
      height: 180px;
      background-color: #eee;
    }
  }

  .suggestion {
    &__title {
      opacity: 0.5;
      font-size: 24px;
      color: #FFFFFF;
      letter-spacing: 1.08px;
    }

    &__content {
      margin-top: 18px;
      font-size: 20px;
      color: #FFFFFF;
      letter-spacing: 0.9px;
      line-height: 36px;
    }
  }
}