@import '~@/styles/var';

.plan-page {
  font-weight: $weight_regular;

  .plan-bar {

    height: 100px;
    line-height: 100px;
    background-image: linear-gradient(-127deg, #1068FA 14%, #00329E 100%, #00329E 100%);
    font-size: 20px;
    color: #fff;
    letter-spacing: 0.9px;
    text-align: right;


    &__container {
      position: relative;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .bar {
    &__name-logo {
      display: block;
      width: 68px;
      height: 36px;
    }

    &__tail {
      display: flex;
      line-height: 100px;
    }

    &__user {
      display: flex;
      align-items: center;
    }


    &__logout {
      margin-left: 36px;
      font-size: 20px;
      color: #FFFFFF;
      letter-spacing: 0.9px;
    }
  }

  .user {
    &__avator {
      display: block;
      width: 36px;
      height: 36px;
    }

    &__name {
      margin-left: 8px;
      font-size: 20px;
      color: #FFFFFF;
      letter-spacing: 0.9px;
    }
  }


  .plan__body {
    padding-top: 56px;
    padding-bottom: 56px;
  }

  .plan__part2 {
    margin-top: 80px;
  }

  .part__title {
    position: relative;
    font-size: 30px;
    color: #0C5AE3;
    letter-spacing: 1.35px;
    padding-left: 22px;
    height: 48px;
    line-height: 48px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 6px;
      height: 100%;
      background: #0F64F3;
    }
  }

  .part1 {
    &__main {
      margin-top: 46px;
      display: flex;
      justify-content: space-between;
    }

    &__left {
      flex: 1;
      display: flex;
      justify-content: flex-end;
    }

    &__manager {
      position: relative;
      transform: translateX(-180px);

      .manager__avatar {
        display: block;
        width: 500px;
        height: 500px;
      }

      .manager__info {
        color: #0951D4;
        position: absolute;
        bottom: 2.2%;
        left: 404px;
        white-space: nowrap;
      }

      .manager-info {


        &__title {
          opacity: 0.5;
          font-size: 16px;
          letter-spacing: 0.72px;
        }

        &__name {
          margin-top: 18px;
          font-weight: $weight_medium;
          font-size: 36px;
          letter-spacing: 1.62px;
        }

        &__level,
        &__school {
          margin-top: 8px;
          font-weight: $weight_light;
          font-size: 20px;
          letter-spacing: 0.9px;
        }

      }

    }

    &__desc {
      // margin-top: 52px;
      font-size: 20px;
      color: #1068FB;
      letter-spacing: 0.9px;
      line-height: 36px;
    }

    &__suggestion {
      position: relative;
      margin-top: 90px;
      background-image: linear-gradient(145deg, #1068FA 2%, #00329E 100%, #00329E 100%);
      width: 100%;
      padding: 36px 48px;
      border-radius: 4px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.50);


      &::before {
        position: absolute;
        top: -60px;
        left: 0;
        content: '';
        display: block;
        background: #1068FA;
        width: 100%;
        height: 1px;
        transform: scaleY(0.5);
      }

      &::after {
        position: absolute;
        top: -79px;
        left: 70px;
        content: '';
        display: block;
        width: 0;
        height: 0;
        border-top: 40px solid transparent;
        border-right: 40px solid transparent;
        border-left: 40px solid transparent;
        border-bottom: 40px solid #1068FA;
      }
    }
  }

  .part2 {
    &__img {
      display: block;
      width: 1120px;
      height: 540px;
      background-color: #eee;
      margin: 0 auto;
      margin-top: 50px;
    }
  }

  .case {
    &__title {
      font-size: 20px;
      color: #0B56DC;
      letter-spacing: 0.9px;
    }

    &__container {
      margin-top: 16px;
      width: 630px;
      height: 392px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &__l1,
    &__l2 {
      flex-shrink: 0;
      display: flex;
      justify-content: space-between;
    }

    &__img {
      display: block;
      flex-shrink: 0;
      width: 300px;
      height: 180px;
      background-color: #eee;
    }
  }

  .suggestion {
    &__title {
      opacity: 0.5;
      font-size: 24px;
      color: #FFFFFF;
      letter-spacing: 1.08px;
    }

    &__content {
      margin-top: 18px;
      font-size: 20px;
      color: #FFFFFF;
      letter-spacing: 0.9px;
      line-height: 36px;
    }
  }
}


/*手机端预览开始*/
#app{
  min-width: 0;
}
.moblie-plan{
  &-top {
    width: 100%;
    height: torem(119);
    background: #fff;
    border-bottom: torem(1) solid #eee;
    z-index: 10;
    img{
      width: torem(206);
      height: torem(64);
      margin: torem(25px) 0 0 torem(45px);
    }
  }
  &-title {
    position: relative;
    font-size: torem(34);
    padding-left: torem(23);
    margin-left: torem(30);
    color: #ffa100;
    margin-top: torem(53);
    &::before{
      position: absolute;
      top: 50%;
      left: 0;
      margin-top: torem(-15);
      content: '';
      background: #ffa100;
      width: torem(9);
      height: torem(31);
      border-radius: torem(3);
    }
  }
  &-part{
    width: torem(690);
    margin: torem(30) auto;
    border: torem(1px) solid #eee;
    box-shadow: 0 0 torem(55px) rgba($color: #999, $alpha: 0.2);
    font-size: torem(30);
    line-height: torem(56);
    border-radius: torem(3px);
    h2{
      font-size: torem(34);
      margin-bottom: torem(15);
      color: #181818;
    }
    &-content{
      margin-left: torem(15px);
      text-align: justify;
      color: #887759;
    }
  }
  &-part1{
    padding: torem(53px) torem(42px) torem(27px);
  }
  &-part2{
    // padding: torem(30);
  }
  &-manage{
    margin-right: torem(44);
    text-align: right;
    font-size: torem(28);
    color: #7a7a7a;
  }
  &-dl{
    dt{
      float: left;
      width: torem(328px);
      margin: torem(30);
      img{
        width: torem(328px);
        height: torem(380px);
      }
    }
    dd{
      float: left;
      .moblie-plan-icon{
        width: torem(158);
        height: torem(145);
        margin: torem(61px) 0 0 torem(47px);
        img{
          width: torem(158);
          height: torem(145);
          text-align: center;
        }
      }
      .moblie-plan-ip-title{
        width: torem(280px);
        text-align: center;
        margin-top: torem(10);
        word-break: break-all;
      }
      .moblie-plan-book{
        display: block;
        width: torem(274);
        height: torem(67);
        text-align: center;
        line-height: torem(67);
        background: #ff8c37;
        color: #fff;
        border-radius: torem(67);
        margin-top: torem(40);
        letter-spacing: torem(1px);
        padding-bottom: torem(67);
      }
    }
  }
}
.magage{
  &-part{
    margin-top: torem(60);
    margin-left: torem(53);
  }
  &-head{
    float: left;
    width: torem(268);
    margin-right: torem(32);
    img{
      width: torem(268);
      height: torem(299);
    }
  }
  &-desc{
    float: left;
    margin-top: torem(60);
    font-size: torem(34);
    line-height: torem(60);
  }
  &-desc-detail{
    width: torem(640);
    margin: 0 auto;
    font-size: torem(28);
    color: #333;
    line-height: torem(50);
    text-align: justify;
  }
}
.moblie-anli{
  &-ul{
    li{
      position: relative;
      width: torem(690);
      height: torem(388);
      margin: torem(30) auto 0;
      img{
        width: torem(690);
        height: torem(388);
      }
    }
  }
  &-title{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: torem(110);
    background:linear-gradient(rgba(0,0,0,0.0),rgba(0,0,0,.5));
    padding-left: torem(30);
    color: #fff;
    font-size: torem(28);
    line-height: torem(150);
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
  }
}
.moblie-footer{
  background: #202530;
  margin-top: torem(48);
  color: #fff;
  padding-bottom: torem(110);
}
.moblie-footer-ul{
  width: torem(690);
  margin: 0 auto torem(44);
  padding-bottom: torem(44);
  border-bottom: torem(1) solid #373b45;
}
.moblie-footer-left{
  float: left;
  width: torem(490);
  font-size: torem(28);
  margin-right: torem(70);
  .moblie-footer-title{
    position: relative;
    margin-top: torem(38);
    padding-left: torem(29);
    letter-spacing: torem(2);
    font-size: torem(30);
    &::before{
      position: absolute;
      left: 0;
      top:50%;
      margin-top: torem(-6);
      content: '';
      background: #ffa100;
      border-radius: 50%;
      width: torem(12);
      height: torem(12);
    }
  }
  .moblie-footer-ways{
    margin-top: torem(14);
  }
}
.moblie-footer-right{
  float: left;
  width: torem(128);
  margin-top: torem(38px);
  img{
    width: 100%;
  }
}
.moblie-copyrigt-ul{
  margin-bottom: torem(60);
  li{
    float: left;
    font-size: torem(28);
    margin-left: torem(57);
  }
}
.moblie-footer-copyright{
  font-size: torem(22);
  text-align: center;
  line-height: torem(34);
}
.color-black{
  color: #2f3c55;
}
.fz40{
  font-size: torem(40);
}
/*手机端预览结束*/