@import '~@/styles/var';

.home-page {
  width: 100%;
  height: 100%;
  position: relative;

  .home {
    &__header {
      width: 100%;
      // height: 100%; // 800/1440*100
      height: 480px;
      margin-bottom: 20px;
    }
// ===== BANNER START =====
  .swiper-container {
    // height: 100%;
    height: 480px;
  }
    &__partner {
      padding-top: 80px;
      padding-bottom: 80px;
    }
  }
.case__header{
      height: 360px!important;
// ===== BANNER START =====
  .swiper-container {
    // height: 100%;
    height: 360px!important;
  }
}
  .base-navbar--fixed {
    width: 100%;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  

  .header-slide {
    background-size: cover;
    background-position: center center;

    &__text-container {
      // margin-top: -9vw;
      position: absolute;
      z-index: 2;
      padding: 0 20px;
      color: #fff;
      top: 50%;
      left: 50%;
      width: 100%;
      transform: translate(-50%, -50%);
      text-align: center;
    }

    &__name-logo {
      display: inline-block;
      width: 80px;
      height: 42px;
    }

    &__decs1 {
      margin-top: 12px;
      font-size: 30px;
      font-weight: $weight_light;

      color: #fffce8;
      letter-spacing: 1.35px;
      text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    }

    &__decs2 {
      margin-top: 44px;
      font-size: 20px;
      font-weight: $weight_regular;
      line-height: 28px;

      color: #fffce8;
      letter-spacing: 0.9px;
      text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    }

    &__btn {
      margin-top: 5.6vw;
      padding: 15px 40px;
      font-size: 24px;
      border: 1px solid #fff;
      border-radius: 31px;
      cursor: pointer;
      background-color: rgba($color: #fff, $alpha: 0.1);
      cursor: pointer;
    }
  }

  .header-slide1 {
    background-image: url('~@/assets/banner1.png');
  }

  .header-slide1-m {
    background-image: url('~@/assets/mobie1.jpg');
  }

  .header-slide2 {
    background-image: url('~@/assets/banner1.png');
  }

  .header-slide2-m {
    background-image: url('~@/assets/mobie2.jpg');
  }

  .swiper-pagination {
    bottom: 20px !important;
    z-index: 10;
  }

  .swiper-pagination-bullet {
    opacity: 0.5 !important;
    background: #fff !important;
  }

  .swiper-pagination-bullet-active {
    opacity: 1 !important;
    background: #fff !important;
    width: 30px !important;
    border-radius: 8px !important;
  }

  .qrcode {
    display: block;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    margin-top: 50px;
  }

  // ===== BANNER END =====
}

.partner-slider {
  width: 100%;
  // flex: 1;
  display: flex;
  justify-content: space-between;
}

.slider__arrow {
  display: block;
  width: 28px;
  height: 50px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;

  &-left {
    left: -40px;
  }

  &-right {
    right: -40px;
  }
}
.ip-part2{
  background: #f5f5f5;
  padding-bottom: 40px;
  .partTwo-ul{
    .partTwo-li{
      float: left;
      width: 224px;
      height: 436px;
      margin-right: 20px;
      background: #fff;
      border-radius: 2px;
      text-align: center;
      &:last-child{
        margin-right: 0;
      }
      &:hover{
        position: relative;
        top: -2px;
        box-shadow: 0 5px 5px rgba($color: #333, $alpha: .1);
      }
      p{
        font-size: 16px;
        line-height: 16px;
      }
      .product-line{
        width: 22px;
        height: 3px;
        background: #333;
        margin: 12px auto 27px;
      }
      .product-desc{
        font-size: 14px;
        line-height: 14px;
        margin-bottom: 13px;
      }
      img{
        margin: 84px 0 45px;
      }
    }
  }
  .ip-btn{
    width: 224px;
    height: 48px;
    border-radius: 5px;
    border: 1px solid #666;
    margin: 40px auto 0;
    background: #fff;
    text-align: center;
    line-height: 48px;
    cursor: pointer;
  }
}
.ip-part3{
  padding-bottom: 50px;
  ul{
    .ip-resource{
      float: left;
      margin-right: 20px;
      background-size: contain!important;
      color: #fff;
      font-size: 13px;
      &:last-child{
        margin-right: 0;
      }
      &:hover {
        position: relative;
        top: -2px;
        box-shadow: 0 5px 5px rgba($color: #000, $alpha: .3);
      }
      &.resource-main{
        width: 590px;
        height: 285px;
      }
      &.resource-other{
        width: 285px;
        height: 285px;
      }
      .resource{
        &-wrap{
          width: 100%;
          height: 100%;
          background: rgba($color: #000, $alpha: .5);
          padding: 25px 0 25px 35px;
        }
        &-bigTitle{
          font-size: 18px;
          margin-bottom: 10px;
        }
        &-smallTitle{
          margin-bottom: 12px;
        }
        &-desc{
          position: relative;
          width: 85%;
          padding-left: 20px;
          line-height: 27px;
          letter-spacing: 1px;
          word-wrap: break-word;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 3;
          overflow: hidden;
          &::before{
            position: absolute;
            left: 0;
            top: 9px;
            content: '';
            width: 9px;
            height: 9px;
            background:#fe992b;
            border-radius: 9px;
          }
        }
        &-label{
          display: inline-block;
          margin:30px 16px 0 0;
          padding: 9px 13px;
          border-radius: 31px;
          border: 1px solid #fff;
        }
      }
    }
  }
  .resouce-type{
    float: left;
    width: 90px;
    margin-right: 15px;
    border-bottom: 3px solid #fff;
    cursor: pointer;
    @for $i from 0 through 2{
      &#{$i}{
        span{
          margin: 26px 0 10px 15px;
          display: inline-block;
          width: 60px;
          padding-left: 27px;
          background: url(~@/assets/anima#{$i+1}.png) no-repeat 0% 50%;
        }
        &.active{
          border-bottom: 3px solid #fe992a;
          color: #fe992a;
          span{
            background: url(~@/assets/anima_active#{$i+1}.png) no-repeat 0% 50%;
          }
        }
      }
    }
  }
}
.type-img{
  float: left;
  width: 285px;
  height: 285px;
  margin-top: 20px;
  margin-right: 20px;
  &:nth-child(4n){
    margin-right: 0;
  }
  img{
    width: 100%;
    height: 100%;
  }
}
.ip-part4{
  background: url(~@/assets/part4_bg.png) top center no-repeat;
  padding-top: 15px;
  padding-bottom: 20px;
  .ip-introduce{
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 8px 8px #f5f5f5;
    .ip-detail{
      width: 1120px;
      margin: 0 auto;
      padding-top: 43px;
      .ip-detail-title{
        margin-bottom: 50px;
        dt{
          float: left;
          width: 60px;
        }
        dd{
          float: left;
          width: 650px;
          margin-left: 25px;
          font-size: 14px;
          color: #666;
          p{
            line-height: 60px;
            font-size: 20px;
            color: #333;
          }
          span{
            line-height: 40px;
          }
        }
      }
      .detail-produce{
        dt{
          float: left;
          width: 630px;
          margin-top: 12px;
          margin-right: 50px;
        }
        dd{
          float: left;
          width: 420px;
          .detail-line{
            display: block;
            height: 8px;
            width: 90px;
            border-radius: 2px;
            background: #ffa70d;
          }
          .detail-big{
            font-size: 28px;
            color: #333;
            line-height: 28px;
            margin: 30px 0 23px 3px;
          }
          .detail-list{
            position: relative;
            font-size: 16px;
            line-height: 50px;
            color: #333;
            margin-left: 30px;
            &::before{
              position: absolute;
              left: -30px;
              top: 50%;
              margin-top:-6px;
              content: '';
              width:13px;
              height: 13px;
              border-radius: 13px;
              border: 3px solid #fe992b;
            }
          }
        }
      }
    }
  }
}
.ip-part5{
  padding-bottom: 70px;
  .part5-eval{
    margin-left: 17px;
  }
  .part5-title{
    font-size: 28px;
    color: #494949;
    text-align: center;
    margin: 60px 0 16px 0;
  }
  .part5-line{
    width: 48px;
    height: 3px;
    border-radius: 1px;
    background: #494949;
    margin: 0 auto;
  }
  .quot-text{
    font-size: 16px;
    color: #333;
    line-height: 30px;
  }
  .quot-right{
    position: relative;
    top: -8px;
    float: right;
  }
  .profile-list{
    float: left;
    width: 300px;
    text-align: center;
    opacity: 0.5;
    color: #333;
    cursor: pointer;
    &.active{
      opacity: 1;
    }
    .profile-img{
      border-radius: 50%;
      img{
        border-radius: 50%;
      }
    }
    .profile-name{
      font-size: 20px;
      line-height: 20px;
      margin: 11px 0;
    }
    .profile-label{
      font-size: 14px;
      line-height: 24px;
    }
  }
}
.swiper-button-next {
  width: 100px;
  height: 100px;
    background: url('~@/assets/cooperation_1.png') no-repeat;
    left: 10px;
    right: auto;
}